{% extends 'base.html' %}
{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'main' %}">首页</a><i class="fa fa-angle-right"></i>数据统计</li>
    </ol>
    <div class="grid-form">
        <div class="grid-form1">
            <h3 style="text-align:center">每日微信加粉统计</h3>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal" action="{% url 'main' %}" method="post">
                        {% csrf_token %}
                        <p>所在地区</p>
                        <hr>
                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">省</label>
                            <div class="col-sm-8">
                                <select id="province" name="province" class="form-control1" value>
                                    <option value="-1">请选择省</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">市</label>
                            <div class="col-sm-8">
                                <select id="city" name="city" class="form-control1">
                                    <option value="-1">请选择市</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">县</label>
                            <div class="col-sm-8">
                                <select id="county" name="county" class="form-control1">
                                    <option value="-1">请选择区县</option>
                                </select>
                            </div>
                        </div>
                        <p>加粉数量</p>
                        <hr>
                        <div class="form-group">
                            <label for="mediuminput" class="col-sm-2 control-label">微信ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" id="wechat_id" name="wechat_id"
                                       placeholder="请填写昨日总粉数">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mediuminput" class="col-sm-2 control-label">昨日总粉数</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" id="original_fans" name="original_fans"
                                       placeholder="请填写昨日总粉数">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">加粉类型</label>
                            <div class="col-sm-8">
                                <select name="add_fans_type" id="add_fans_type" class="form-control1" value>
                                    <option value="1" selected>被动加粉</option>
                                    <option value="2">主动加粉</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mediuminput" class="col-sm-2 control-label">当天加粉数</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" id="today_fans_num" name="today_fans_num"
                                       placeholder="请填写当天加粉数">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mediuminput" class="col-sm-2 control-label">发出的好友邀请数</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" id="send_invited_num" name="send_invited_num"
                                       placeholder="请填写发出的好友邀请数">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mediuminput" class="col-sm-2 control-label">对话数</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" id="dialog_num" name="dialog_num"
                                       placeholder="请填写对话数">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mediuminput" class="col-sm-2 control-label">推送朋友圈数</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" id="send_zone_num" name="send_zone_num"
                                       placeholder="请填写推送朋友圈数">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mediuminput" class="col-sm-2 control-label">加群数</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" id="group_add_num" name="group_add_num"
                                       placeholder="请填写加群数">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mediuminput" class="col-sm-2 control-label">帮忙推送朋友圈数</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" id="send_zone_for_friend_num"
                                       name="send_zone_for_friend_num"
                                       placeholder="请填写帮忙推送朋友圈数">
                            </div>
                        </div>
                        <div class="bs-example" data-example-id="form-validation-states-with-icons">
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <input type="submit" value="提  交"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bs-example" data-example-id="form-validation-states">
            </div>
        </div>
    </div>
    <script>
    $(function () {
        //获取所有省份
        $.get('/province/', function (dic) {
            pro = $('#province')
            $.each(dic.data, function (index, item) {
                pro.append('<option value=' + item[0] + '>' + item[1] + '</option>');
            })
        });
        //获取市信息
        $('#province').change(function () {
            $.get('/city/' + $(this).val() + '/', function (dict) {
                city = $('#city');
                city.empty().append('<option value="-1">请选择市</option>');
                $('#county').empty().append('<option value="-1">请选择区县</option>');
                $.each(dict.data, function (index, item) {
                    city.append('<option value=' + item[0] + '>' + item[1] + '</option>');
                })
            });
        });
        //获取区县信息
        $('#city').change(function () {
            $.get('/county/' + $(this).val() + '/', function (dict) {
                county = $('#county');
                county.empty().append('<option value="-1">请选择区县</option>');
                $.each(dict.data, function (index, item) {
                    county.append('<option value=' + item[0] + '>' + item[1] + '</option>');
                })
            });
        });
    })
    </script>
{% endblock %}